@model SoteloProjectFramework.Models.tbViajes

@{
	ViewBag.Title = "Diesel";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="container d-flex justify-content-center">
		<div style="height: max-content; margin-top: 1vh; border-radius: 40px; background: #88A47C;">
			<div class="w-100" style="margin-left: 1vw; margin-top: 2vh; border-radius: 40px; background: #2B4865;">
				<div class="row justify-content-center">
					<div class="col-md-10">
						<div class="d-flex justify-content-center">
							<h3 class="rounded-pill w-75 text-center" style="background: #FBFFFD;">@ViewBag.Title</h3>
						</div>
						<div id="loginForm">
							@Html.ValidationSummary(true, "", new { @class = "text-danger" })
							@Html.HiddenFor(x => x.ChoferId)
							<div class="form-horizontal">
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											@Html.Label("", "Diesel Actual", new { @class = "control-label" })
											<div class="col-md-10">
												@Html.DisplayFor(model => model.tbContabilidadViaje.Diesel, new { @class = "control-label" })
												@Html.ValidationMessageFor(model => model.tbContabilidadViaje.Diesel, "", new { @class = "text-danger" })
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											@Html.Label("", "Nuevo Monto", new { @class = "control-label" })
											<div class="col-md-10">
												@Html.TextBox("NuevoMonto", 0, new { @class = "form-control", type = "number" })
												@Html.ValidationMessageFor(model => model.tbContabilidadViaje.Diesel, "", new { @class = "text-danger" })
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											@Html.Label("", "Monto Final", new { @class = "control-label" })
											<div class="col-md-10">
												@Html.TextBoxFor(model => model.tbContabilidadViaje.Diesel, new { @class = "form-control", type = "number", @readonly = true })
												@Html.ValidationMessageFor(model => model.tbContabilidadViaje.Diesel, "", new { @class = "text-danger" })
											</div>
										</div>
									</div>
								</div>
								<div class="row justify-content-end">
									<div class="col-md-6">
										<div class="form-group">
											<input type="submit" value="Actualizar" class="btn btn-light" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

}
@section scripts{
	<script>
		$(document).ready(function () {
			$('#NuevoMonto').on('keyup change', function () {
				$('#tbContabilidadViaje_Diesel').val($(this).val())
			})
		})
	</script>
}