@model SoteloProjectFramework.Models.ModeloExtendidoChofer

@{
	ViewBag.Title = "Nuevo Chofer";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
	IEnumerable<SelectListItem> lsCategoriasChofer = ViewBag.lsCategoriasChofer;
}

@using (Html.BeginForm("Create", "Conductores", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	@Html.AntiForgeryToken()
	<div class="container d-flex justify-content-center">
		<div style="width: 100%; height: max-content; margin-top: 1vh; border-radius: 40px; background: #88A47C;">
			<div class="w-100" style="margin-left: 1vw; margin-top: 2vh; border-radius: 40px; background: #2B4865;">
				<div class="row justify-content-center">
					<div class="col-md-10">
						<div class="d-flex justify-content-center">
							<h3 class="rounded-pill w-75 text-center" style="background: #FBFFFD;">@ViewBag.Title</h3>
						</div>
						<h4>Ingrese los datos solicitados</h4>
						<hr />
						<section id="loginForm">
							<div class="form-horizontal">
								@Html.ValidationSummary(true, "", new { @class = "text-danger" })

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											@Html.Label("", "Categoría", htmlAttributes: new { @class = "control-label col-md-2" })

											@Html.DropDownListFor(model => model.Chofer.CategoriaChoferId, lsCategoriasChofer, "-- Seleccione una opción --", new { @class = "form-control" })
											@Html.ValidationMessageFor(model => model.Chofer.CategoriaChoferId, "", new { @class = "text-danger" })

										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											@Html.LabelFor(model => model.Chofer.Nombres, htmlAttributes: new { @class = "control-label" })

											@Html.EditorFor(model => model.Chofer.Nombres, new { htmlAttributes = new { @class = "form-control" } })
											@Html.ValidationMessageFor(model => model.Chofer.Nombres, "", new { @class = "text-danger" })

										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											@Html.Label("", "Primer Apellido", htmlAttributes: new { @class = "control-label" })

											@Html.EditorFor(model => model.Chofer.PrimerApellido, new { htmlAttributes = new { @class = "form-control" } })
											@Html.ValidationMessageFor(model => model.Chofer.PrimerApellido, "", new { @class = "text-danger" })

										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											@Html.Label("", "Segundo Apellido", htmlAttributes: new { @class = "control-label" })

											@Html.EditorFor(model => model.Chofer.SegundoApellido, new { htmlAttributes = new { @class = "form-control" } })
											@Html.ValidationMessageFor(model => model.Chofer.SegundoApellido, "", new { @class = "text-danger" })

										</div>

									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											@Html.LabelFor(model => model.DetalleChofer.Edad, htmlAttributes: new { @class = "control-label" })

											@Html.EditorFor(model => model.DetalleChofer.Edad, new { htmlAttributes = new { @class = "form-control" } })
											@Html.ValidationMessageFor(model => model.DetalleChofer.Edad, "", new { @class = "text-danger" })

										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											@Html.Label("", "Fecha de Nacimiento", htmlAttributes: new { @class = "control-label" })

											@Html.EditorFor(model => model.DetalleChofer.FechaNacimiento, new { htmlAttributes = new { @class = "form-control", type = "date" } })
											@Html.ValidationMessageFor(model => model.DetalleChofer.FechaNacimiento, "", new { @class = "text-danger" })

										</div>

									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											@Html.Label("", "Licencia de Conducir", htmlAttributes: new { @class = "control-label" })

											@Html.EditorFor(model => model.DetalleChofer.LicenciaConducir, new { htmlAttributes = new { @class = "form-control" } })
											@Html.ValidationMessageFor(model => model.DetalleChofer.LicenciaConducir, "", new { @class = "text-danger" })

										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											@Html.LabelFor(model => model.DetalleChofer.NSS, htmlAttributes: new { @class = "control-label" })

											@Html.EditorFor(model => model.DetalleChofer.NSS, new { htmlAttributes = new { @class = "form-control" } })
											@Html.ValidationMessageFor(model => model.DetalleChofer.NSS, "", new { @class = "text-danger" })

										</div>

									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											@Html.LabelFor(model => model.DetalleChofer.Unidad, htmlAttributes: new { @class = "control-label" })

											@Html.EditorFor(model => model.DetalleChofer.Unidad, new { htmlAttributes = new { @class = "form-control" } })
											@Html.ValidationMessageFor(model => model.DetalleChofer.Unidad, "", new { @class = "text-danger" })

										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											@Html.Label("", "Placas de la Unidad", htmlAttributes: new { @class = "control-label" })

											@Html.EditorFor(model => model.DetalleChofer.PlacasUnidad, new { htmlAttributes = new { @class = "form-control" } })
											@Html.ValidationMessageFor(model => model.DetalleChofer.PlacasUnidad, "", new { @class = "text-danger" })

										</div>

									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											@Html.Label("", "Descripción de la Unidad", htmlAttributes: new { @class = "control-label" })

											@Html.EditorFor(model => model.DetalleChofer.DescripcionUnidad, new { htmlAttributes = new { @class = "form-control" } })
											@Html.ValidationMessageFor(model => model.DetalleChofer.DescripcionUnidad, "", new { @class = "text-danger" })

										</div>
									</div>
								</div>
								<div class="row justify-content-end">
									<div class="col-md-6">
										<div class="form-group">
											<button type="submit" class="btn btn-light"><i class="fa fa-save"></i> Guardar</button>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
}
