@model SoteloProjectFramework.Models.tbChoferes

@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@Model.Nombres @Model.PrimerApellido (@Model.tbDetallesChoferes.FirstOrDefault().Unidad)</h2>

<div class="container d-flex justify-content-around">

	<div>
		<div class="z-0 position-absolute  p-5 rounded-3 bg-gradient-primary text-light" style="width:12vw; height:10vw;">
			<div class="z-n1 position-absolute p-5 rounded-3 bg-gradient-success" style="width:12vw; height:9vw;">
				<a class="nav-link text-light" href="@Url.Action("Details", new { ChoferId = Model.ChoferId })">
					<h3>Datos Personales</h3>
				</a>
			</div>
		</div>
	</div>

	<div>
		<div class="z-0 position-absolute  p-5 rounded-3 bg-gradient-primary text-light" style="width:12vw; height:10vw;">
			<div class="z-n1 position-absolute p-5 rounded-3 bg-gradient-success" style="width:12vw; height:9vw;">
				<a class="nav-link text-light" href="@Url.Action("HistoryDriver", "Viajes", new { ChoferId = Model.ChoferId })">
					<h3>Historial</h3>
				</a>
			</div>
		</div>
	</div>

	<div>
		<div class="z-0 position-absolute  p-5 rounded-3 bg-gradient-primary text-light" style="width:12vw; height:10vw;">
			<div class="z-n1 position-absolute p-5 rounded-3 bg-gradient-success" style="width:12vw; height:9vw;">
				<a class="nav-link text-light" href="@Url.Action("", new { ChoferId = Model.ChoferId })">
					<h3>Nuevo Registro</h3>
				</a>
			</div>
		</div>
	</div>



</div>

